@media all and (min-width: 1200px){

}
@media all and (min-width: 993px){
	.menu_bar_area ul{
		display: -webkit-box !important;
		display: -ms-flexbox !important;
		display: flex !important;
	}
	.header_socil_midea ul{
		display: -webkit-box !important;
		display: -ms-flexbox !important;
		display: flex !important;
	}
}

@media all and (max-width:1200px){
	.project_main_area .owl-nav {
		right: -99px;
		bottom: -117px;
	}
	.project_letter_area ul li::after {
		right: -102px;
	}
}
@media all and (max-width: 992px){
	.menu_main_area{
		padding: 8px 0;
	}
	.menu_logo_area a img {
		width: 150px;
	}
	.menu_bar_area ul li a {
		padding: 5px 15px;
	}
	.menu_bar_area ul li a::after {
		height: 0px;
		width: 0px;
	}
	.padding_section {
		padding: 69px 0 40px 0;
	}
	.navbar{
		display:block;
	}
	.menu_bar_area > ul {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		position: absolute;
		width: 100%;
		left: 0;
		top: 84px;
		background-color: #393590;
		display: none;
	}
	.header_socil_midea ul{
		display: none;
	}
	.menu_logo_area {
		width: 96%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		margin: auto;
	}
	.menu_bar_area ul li a {
		display: block;
		text-align: center;
		-webkit-transition: .4s;
		-o-transition: .4s;
		transition: .4s;
		color: #fff;
		width: 100%;
		margin: 0;
		padding: 13px 0;
	}
	.menu_bar_area ul li a:hover,
	.menu_bar_area > ul > li > a.active{
		background-color:#c41a1ea3;
	}
	.menu_bar_area ul li ul {
		display: block !important;
		-webkit-transition: .7s;
		-o-transition: .7s;
		transition: .7s;
	}
	.menu_bar_area ul > li:hover ul {
		opacity: 1;
		top: 47px;
		visibility: visible;
		width: 50%;
		margin: auto;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center !important;
		    -ms-flex-pack: center !important;
		        justify-content: center !important;
		left: 0;
		right: 0;
		-webkit-transition: .7s;
		-o-transition: .7s;
		transition: .7s;
	}
	.showcase {
		min-height: 600px;
	}
	.blogpost_single_image img {
		height: 400px;
		background-position: center center;
	}
	.project_main_area .owl-nav {
		right: 149px;	
	}
	.project_letter_area ul li::after {
		right: -78px;
		width: 54px;
	}
	.footer_main_text_area {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		row-gap: 20px;
	}
	.footer_text {
		text-align: center;
	}
	.footer_menu_area ul li a {
		padding: 7px 9px;
		display: inline-block;
	}
		
}
@media all and (max-width: 767px){
	
	.showcase {
		min-height: 480px;
	}	
	.project_letter_area ul {
		display: none;
	}
	.project_main_area .owl-nav {
		right: 170px;	
		bottom: -99px;
	}
	.porject_single_item_area {
		padding: 30px 15px 60px 15px;
	}
	.project_project_area_sub h2 {
		padding: 20px 20px;
	}
	.footer_menu_area ul {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	.blogpost_single_image img {
		height: 310px;
	}
	.product_main_single_text img {
		height: 320px;
	}
}
@media all and (max-width: 575px){
	.showcase {
		min-height: 400px;
	}	
	.project_main_area .owl-nav {
		right: 170px;	
	}
	.project_project_area_sub h2 {
		padding: 21px 24px;
	}
	.project_main_area .owl-nav {		
		bottom: -99px;
	}
	.product_main_single_text img {
		height: 290px;
	}

}