

@media all and (min-width: 1200px){

}
@media all and (min-width: 993px){
	.menu_bar_area ul{
		display: -webkit-box !important;
		display: -ms-flexbox !important;
		display: flex !important;
	}
}

@media all and (max-width:1200px){
	
}
@media all and (max-width: 992px){
	.menu_logo_area a img {
		width: 186px;
	}
	.menu_bar_area ul li a {
		padding: 5px 15px;
	}
	.menu_bar_area ul li a::after {
		height: 0px;
		width: 0px;
	}
	
}
@media all and (max-width: 767px){
	
	
}
@media all and (max-width: 575px){
			

}